nav {
    background-color: #f8e9be;
}

p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #fff8e7;
}

#Alert_Box {
    max-width: 550px;
    width: 100%;
}

#image {

    width: 100%;
    height: 100%;
    
}

#q1,
#q2,
#q3,
#q4,
#q5,
#q6,
#q7,
#q8,
#q9,
#q10 {
    padding-top: 15px;
    padding-bottom: 15px;
}

#Reject #rule {
    background-color: #ffc7c7;
}

#Reject #rule_description {
    background-color: #ffecec;
}

#Accept #rule {
    background-color: #aef3ae;
}

#Accept #rule_description {
    background-color: #e3ffe3;
}